.vote {
    &__header {
        word-break: break-word;
        max-width: 80%;
        background: $client-blue-green;
        font-family: lemonmilk;
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: 700;
        color: white;
        letter-spacing: 1rem;
        width: max-content;
        padding: 0.5rem 6rem;
        border-radius: 0 20px 20px 0;
        text-shadow: $client-text-shadow;

        @include media-breakpoint-down(md) {
            max-width: 100%;
            padding: 1rem;
            font-size: 2rem;
        }

        @include media-breakpoint-down(xs) {
            font-size: 1rem;
        }
    }

    &__body {
        padding: 1rem 5rem;
        overflow: auto;
    }

    &__name {
        padding: 1rem 0;
    }

    &__body-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__img {
        height: 450px;
        @include no-drag;
    }

    // &__entry+&__entry {
    //     margin-right: 5rem;
    // }

    &__entry {
        &--padding {
            padding-right: 5rem;
        }
    }
}

.vote__entry {
    &:not(:last-child) {
        margin-right: 2.5rem;
    }
}

.vote__body-container {
    @media only screen and (max-width: $bp-largest) {
        flex-direction: column;
		justify-content: center;
    }
}
