// Typography
$font-family-sans-serif: 'Comfortaa', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$client-blue-green: #008080;
$client-yellow: #FFA500;
$client-sky-blue: #E1F7FF;
